---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import step from "../assets/images/step.svg";
import Howitworks from "../components/Howitworks.astro";
import Reviews from "../components/Reviews.astro";
import Ourproducts from "../components/Ourproducts.astro";
import Subscription from "../components/Subscription.astro";
---

<MainLayout title="Tails.com" />

<section id="pricing hero">
  <section class="mx-5 md:mx-custom104 mb-44">
  <h2 class="text-2xl md:text-custom54 font-paytone md:max-w-3xl pb-6 md:pb-16 uppercase">Made fresh for your dog at a price you'll love</h2>
  <p class="pb-6 md:max-w-2xl">Every month, we create fresh, personalized meals just for your dog – no mass production, no compromises. See how affordable it is to give your furry friend the nutrition they deserve. </p>
  <p class="pb-6 md:max-w-2xl">All prices are per month on average, based on your dog’s approximate weight. If you have any questions, you’re always welcome to contact us.</p>
  <div class="sm:grid sm:grid-cols-2 md:grid-cols-5 gap-32 mb-12">
    <article class="flex flex-col items-center justify-center text-center">
      <Image src={step} alt="dog illustration" class="pb-6 w-40 h-auto" />
      <h3 class="text-2xl md:text-custom32 font-bold pb-6 md:pb-8">Toy (kg)</h3>
      <p class="md:text-xl pb-12">13,42 €</p>
    </article>
      <article class="flex flex-col items-center justify-center text-center">
      <Image src={step} alt="dog illustration" class="pb-6 w-40 h-auto" />
      <h3 class="text-2xl md:text-custom32 font-bold pb-6 md:pb-8">Small (kg)</h3>
      <p class="md:text-xl pb-12">17,94 €</p>
    </article>
      <article class="flex flex-col items-center justify-center text-center">
      <Image src={step} alt="dog illustration" class="pb-6 w-40 h-auto" />
      <h3 class="text-2xl md:text-custom32 font-bold pb-6 md:pb-8">Medium (kg)</h3>
      <p class="md:text-xl pb-12">26,33 €</p>
    </article>
    <article class="flex flex-col items-center justify-center text-center">
      <Image src={step} alt="dog illustration" class="pb-6 w-40 h-auto" />
   <h3 class="text-2xl md:text-custom32 font-bold pb-6 md:pb-8">Large (kg)</h3>
      <p class="md:text-xl pb-12">35,91 €</p>
    </article>
    <article class="flex flex-col items-center justify-center text-center">
      <Image src={step} alt="dog illustration" class="pb-6 w-40 h-auto" />
         <h3 class="text-2xl md:text-custom32 font-bold pb-6 md:pb-8">Giant (kg)</h3>
      <p class="md:text-xl">46,83 €</p>
    </article>
  </div>
</section>
</section>

<Howitworks />

<section id="pricesize"></section>

<section id="uniqueprice"></section>

<Reviews />

<Ourproducts />

<Subscription />

<MainLayout />

<!-- <article>
    <h1>Index overskrift</h1>
    <Button>Klik!</Button>
    <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
    <Image src={thumbsup} alt="" />
  </article> -->
